body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
  font-family: 'Fix for Mac Chrome 80', system-ui, -apple-system,
    BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  width: 981px;
  margin: auto;
}

header {
  background-color: #3b5998;
  color: white;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content div:first-child {
  display: flex;
  align-items: flex-end;
  margin: 20px 0 15px;
}

header h1 {
  margin: 0;
  font-size: 40px;
  line-height: 35px;
}

header button {
  height: 28px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  background-color: #42b72a;
  color: inherit;
}

nav {
  background-color: inherit;
  color: white;
  border: none;
  font-size: 14px;
}

nav img{
  width: 13px;
}

main h1{
  font-size: 30px;
}

.cards{
  display: flex;
  margin-top: 40px;
}

section {
  background-color: white;
  flex:1;
  text-align: center;
}

section:first-child{
  margin-right: 20px;
}

figcaption {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}

figure p {
  color: gray;
}

figure button{
  margin-top: 30px;
}

